# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/.env
.pnp.js
src/components/company/deliveryaddress/DeliveryAddress.test.jsx

# testing
/coverage

# production
/build

# misc
.sonar_lock
report-task.txt
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
.env.staging
.env.development
.env.development.test
.env.uat
.env.qa
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
